.row{
    display: -webkit-box;
    display: flexbox;
    flex-wrap: wrap;
}

img{
    height:120px;
    width:350px;
} 

body{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  background-color:aqua;
}

.card{
  margin-top: 30px;
  margin-left: 30px;
  height:400px !important;
}

.card-body{
  background-color: #f6d8ac;
}

.card-text{
  padding: 5px;
}

#title{
  color: white;
}
